html {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
    margin-left: 15%;
    margin-right: 15%;
}

body {
    line-height: 1.6;
    color: #252525;
}

/* name form */
#nameForm {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#nameForm label {
    margin-bottom: 10px;
    font-weight: bold;
}
#nameForm input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    width: 300px;
}
@media (max-width: 768px) {
    #home {
        width: 100%;
        margin-top: 230px;
    }
    
}

/* Top Header */
.top-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    background-color: #f8f8f896;
    top: 0%;
    left: 0%;
    width: 100%;
    padding: 2px 0;
    z-index: 1000;
    border-bottom: 1px solid #929292; 
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

/* Responsive Top Header */
@media (max-width: 768px) {
    .top-header {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 8px 10px;
    }
}

/* Nav Button */

nav {
    list-style: none;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav ul li a:hover {
    color: rgb(110, 67, 5);
}


/* Home and main content */


.main-content {
    padding: 20px;
    margin-top: 100px; 
}
.main-content h2 {
    margin-top: 0;
    margin-bottom: 8px;
}

.main-content h2 + p {
    margin-top: 4px;
}

 .main-content img {
    display: block;
    margin: 40px auto 0 auto;
    width: 100%;
    max-width: 1366px;
    height: 578px;
    object-fit: cover;
    border-radius: 10px;
    padding-bottom: 50px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .main-content img {
        max-width: 100%;
        height: auto;
        margin: 20px auto 0 auto;
        padding-bottom: 30px;
    }
}

/* About section (head quarters) */

#about {
    padding: 20px;
}

.about-list {
    display: flex;
    gap: 100px;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

.about-list img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    border: none;
    box-shadow: none;
    padding-bottom: 0;
}

.about-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: white;
    color: rgb(53, 53, 53);
    text-align: center;
    text-decoration: none;
    border: none;
    margin-top: 10px;
    align-self: center;
    font-size: 1.15rem;
    font-weight: bold;
}

/* kolom form */
.form-section {
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 10px;
    margin-top: 20px;
}
.form-section h2 {
    margin-top: 0;
}
.form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form-group {
    display: flex;
    flex-direction: column;
}
.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}
.form-group input:focus,
.form-group textarea:focus {    
    border-color: #007bff;
    outline: none;
}

.btn-form {
    margin-top: 10px;
    padding: 25px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}