html {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
    margin-left: 15%;
    margin-right: 15%;
}

body {
    line-height: 1.6;
    color: #252525;
}


.top-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    background-color: #f8f8f896;
    top: 0%;
    left: 0%;
    width: 100%;
    padding: 2px 0;
    z-index: 1000;
    border-bottom: 1px solid #929292; 
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

/* Nav Button */

nav {
    list-style: none;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav ul li a:hover {
    color: rgb(110, 67, 5);
}


/* Home and main content */


.main-content {
    padding: 20px;
    margin-top: 100px; 
}
.main-content h2 {
    margin-top: 0;
    margin-bottom: 8px;
}

.main-content h2 + p {
    margin-top: 4px;
}

 .main-content img {
    display: block;
    margin: 40px auto 0 auto;
    width: 100%;
    max-width: 1366px;
    height: 578px;
    object-fit: cover;
    border-radius: 10px;
    padding-bottom: 50px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .main-content img {
        max-width: 100%;
        height: auto;
        margin: 20px auto 0 auto;
        padding-bottom: 30px;
    }
}

/* About section (head quarters) */

#about {
    padding: 20px;
}

.about-list {
    display: flex;
    gap: 100px;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

.about-list img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    border: none;
    box-shadow: none;
    padding-bottom: 0;
}

.about-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: white;
    color: rgb(53, 53, 53);
    text-align: center;
    text-decoration: none;
    border: none;
    margin-top: 10px;
    align-self: center;
    font-size: 1.15rem;
    font-weight: bold;
}